<!-- Super Select -->
<div is-open="status.isOpen" 
        ng-keydown="onKeydown( $event )"  
        class="super-select btn-group dropdown-container" 
        dropdown 
        on-toggle="onOpen()">

    <!-- Toggle -->
    <span class="button-span" dropdown-toggle
                ng-class="{ disabled : selectDisabled }">
        <button type="button" 
                class="btn btn-primary dropdown-toggle" 
                ng-disabled="selectDisabled"
                ng-focus="populateSelect(true)">
            {{dictionary[selectModel]}} 
        </button>
        <span class="caret"></span>
    </span>
    <!-- End Toggle -->

    <!-- Select -->
    <select class="realSelect"
            ng-keyup="onKeyup( $event )"
            ng-focus="onSelectFocus()" 
            ng-model="selectModel" 
            ng-options="item.val as item.label for item in realData">
    </select>
    <!-- End Select -->

    <!-- Select -->
    <select ng-if="status.isOpen"
            class="fakeSelect"
            ng-model="fakeModel"
            ng-options="item.val as item.label for item in sanitizedData">
    </select>
    <!-- End Select -->

    <!-- Dropdown Menu -->
    <ul class="dropdown-menu" role="menu" ng-if="status.isOpen">
        <li class="search-option" 
            ng-repeat="item in sanitizedData" 
            ng-attr-data-option="{{item.val}}"
            ng-attr-data-index="{{$index}}"  
            ng-click="selectOption(item.val)">
            <a href="#" ng-bind="item.label"></a>
        </li>
    </ul>
    <!-- End Dropdown Menu -->

</div>
<!-- End Super Select -->