<!-- Super Select -->
<span ng-keydown="onKeydown( $event )" class="super-select">
    
    <!-- Select -->
    <select class="realSelect"
            ng-keyup="onKeyup( $event )"
            ng-focus="onSelectFocus()" 
            ng-model="selectModel" 
            ng-options="val as text for ( val, text ) in selectData">
    </select>
    <!-- End Select -->

    <!-- Select -->
    <select class="fakeSelect"
            ng-model="fakeModel"
            ng-options="val as text for ( val, text ) in selectData">
    </select>
    <!-- End Select -->
    
    <!-- Bootstrap Dropdown -->
    <div is-open="status.isOpen"  class="btn-group dropdown-container" dropdown on-toggle="onOpen()">
        
        <!-- Toggle -->
        <span class="button-span" dropdown-toggle>
            <button type="button" 
                    class="btn btn-primary dropdown-toggle" 
                    ng-disabled="disabled">
                {{selectData[selectModel]}} 
            </button>
            <span class="caret"></span>
        </span>
        
        <!-- End Toggle -->
        
        <!-- Dropdown Menu -->
        <ul class="dropdown-menu" role="menu">
            <li class="search-option" 
                ng-repeat="(val, text) in selectData" 
                ng-attr-data-option="{{val}}"  
                ng-click="selectOption(val)">
                <a href="#" ng-bind="text"></a>
            </li>
        </ul>
        <!-- End Dropdown Menu -->

    </div>
    <!-- End Bootstrap Dropdown -->

</span>
<!-- End Super Select -->